@use "../abstracts";

:root {
    --primary: #1ca595;
}

.flashsales {
    width: 100%;
}

/* Tabzy Wrapper */
.tabzy-wrapper {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom: 0;
}

.tabzy-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0;
    border-bottom: 2px solid #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 0 0;
    background: #fff;

    li {
        position: relative;
        flex: 1;
        text-align: center;

        a {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none;
            color: black;
            font-size: 2rem;
            font-weight: 500;
            transition: all 0.3s ease;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
                font-size: 1.1rem;
                text-align: center;
                font-weight: 600;
            }
        }

        &.tabzy--active a {
            color: white;
            background-color: #0022ad;
            // border-radius: 8px 8px 0 0;
        }
    }
}

.active-line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    transition: transform 0.3s ease, width 0.3s ease;
    overflow: hidden;
}

.tabzy-panel {
    margin-top: -2px;
    padding: 20px;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background: #0022ad;
    max-height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .tabzy-tabs {

        flex-direction: column;
        gap: 0;

        li {
            flex: unset;
            text-align: left;

            a {
                padding: 10px 15px;

                &:hover {
                    border-radius: 0;
                    background-color: #0044cc;
                }
            }
        }
    }

    .active-line {
        display: none;
    }

    .tabzy-panel {
        margin-top: 0;
    }
}

.slidezy-item {
    margin-left: 10px;
}

.flashsale-countdown {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background: #0022ad;
    padding: 15px;
    border-radius: 6px 6px 0px 0px;


    .flashsale-title {
        font-weight: bold;
        color: #ff5722;
        font-size: 20px;

        span {
            color: #ff0044;
        }
    }
    .flashsale-text{
        color: white;
    }

    #countdown {
        span {
            display: inline-block;
            background: #ff3366;
            color: #fff;
            padding: 6px 10px;
            margin: 0 2px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
        }
    }
}