<div class="fuldespage">
    <div class="container">
        <div class="nav-main__menu navSiteMain sitedesk">
            <ul class="nav-navbar">
                <!-- Khuyến mãi -->
                <li>
                    <a href="/pages/tong-hop-khuyen-mai">
                        <img class="navIcon" width="32" height="32"
                            src="./assets/icons/icon_nav_1_icon.png"
                            alt="Khuyến mãi">
                        <span>Khuyến mãi</span>
                    </a>
                </li>
                <!-- Trả góp -->
                <li>
                    <a href="/pages/tra-gop">
                        <img class="navIcon" width="32" height="32"
                            src="./assets/icons/icon_nav_2_icon.png"
                            alt="Trả góp">
                        <span>Trả góp</span>
                    </a>
                </li>
                <!-- Bảng giá -->
                <li class="li_child">
                    <a href="/pages/bang-gia-ban">
                        <img class="navIcon" width="32" height="32"
                            src="./assets/icons/icon_nav_3_icon.png"
                            alt="Bảng giá">
                        <span>Bảng giá</span>
                    </a>
                    <ul class="mainChild levlup_2" role="menu">
                        <li><a
                                href="/pages/bang-gia-mua-cu-linh-kien"><span>Bảng
                                    giá mua cũ</span></a></li>
                        <li><a href="/pages/bang-gia-ban"><span>Bảng giá
                                    bán</span></a></li>
                        <li><a href="/pages/bang-gia-outlet"><span>Bảng giá
                                    outlet</span></a></li>
                    </ul>
                </li>
                <!-- Xây dựng cấu hình -->
                <li>
                    <a href="/pages/xay-dung-cau-hinh">
                        <img class="navIcon" width="32" height="32"
                            src="./assets/icons/icon_nav_4_icon.png"
                            alt="Xây dựng cấu hình">
                        <span>Xây dựng cấu hình</span>
                    </a>
                </li>
                <!-- Chính sách bảo hành -->
                <li>
                    <a href="policy.html">
                        <img class="navIcon" width="32" height="32"
                            src="./assets/icons/icon_nav_5_icon.png"
                            alt="Chính sách bảo hành">
                        <span>Chính sách bảo hành</span>
                    </a>
                </li>
                <!-- Hotline (có submenu) -->
                <li class="li_child">
                    <a href="/">
                        <img class="navIcon" width="32" height="32"
                            src="./assets/icons/icon_nav_6_icon.png"
                            alt="Hotline">
                        <span>Hotline</span>
                    </a>
                    <ul class="mainChild levlup_2" role="menu">
                        <li><a href="/"><span>1900 0243 -
                                    Hotline</span></a></li>
                        <li><a href="/"><span>0931 889 888 -
                                    CSKH</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
